body{font-family: Verdana, Geneva, sans-serif; /**background-image: url('../images/craft_bg.png');**/}
#roof { position: fixed; width: 100%; height: 115px; top: 0; left:0; background-image: url('../images/craft_roof1.png'); text-align: center;}
#roof img { margin-top: 10px; }

@media screen and (max-width:1200px) 
{
    #wrapper{ width:850px; margin-top : 130px; float: right; }
}

@media screen and (min-width:1200px)
{
    #wrapper{ width:1000px; margin-top : 130px; float: right; }
}

/**Canvas**/
#canvas_area { width: 500px; height: 100%; background: white; border:1px solid #6A4A3C; float: left;}
#myCanvas {position: absolute; z-index: 0}
#editCanvas,#maskCanvas {position: absolute;}
#editCanvas {z-index: 1;}
#maskCanvas {z-index: 2;}

/**Sticker**/
#stickerUI {position: absolute; margin-top: 400px;width:500px;height: 100px;z-index: 3;}
.eachStickerUI {float:left;width:80px;height: 80px;background: red;color: white;cursor: pointer;}


/**Preview**/
#preview { width:300px; height: 500px; background: white; float:right; margin-right: 30px; border: solid 1px black;  }
#previewUI {position: absolute;width:300px;height: 500px;z-index: 3;}
#pausePbtn {width: 50px;height: 20px;color:red;background: white; cursor: pointer;}
#previewCursor {margin-top: 30px; width: 100%;height: 400px; cursor:url('../images/cursor_rotate.gif'),url('../images/cursor_rotate.cur'),auto;}
#viewUI {height: 20px;margin-top: 30px;background: white;cursor: pointer;}
.viewBtn {margin: 15px;}
    
/**Tools**/
#tools { float : left; margin-top : 130px; width: 200px;}
#tool_area>div{border:1px solid #6A4A3C;}
#color_picker {margin:10px;height: 120px;width: 100%;}
div.colorhex{width: 30px;height: 30px;margin: 5px;float: left;border: 4px solid white;}
div#colorSample{width:30px;height: 30px;border:5px solid white;background: red;margin:10px;}
#stickers {width: 100%; margin:10px;}
.button {color : black; cursor: pointer;width: 180px;height: 38px;clear:both;background: white;font-size: 30px;text-align: center;margin: 10px;border: 1px solid black;}
#undobtn, #redobtn {color:Red;}
#stickers {width:180px;}
#stickers>span {background: yellow;margin-left: 2px;float: left;cursor: pointer;}
#penThickness {width:180px;height: 30px;background: pink;margin: 10px;}
#penThicker, #penThinner {cursor: pointer;}
#tool_picker {clear:both; width: 180px;height: 40px;margin:10px;}


/**PopUp**/

#imgPop{position: absolute; left:50%; top:50%; margin-left: -275px; margin-top: -250px; }
#imgExport{ position: absolute; left:50%; top:50%; margin-left: -223px; margin-top: -315px;}
a{ text-decoration: none; }



