body{font-family: Verdana, Geneva, sans-serif; background-image: url('../images/tiny_grid.png');}
#roof { position: fixed; width: 100%; height: 131px; top: 0; left:0;}
#roof img { margin-left: 20px; margin-top: 10px; }
.pointcursor {cursor: pointer;}

@media screen and (max-width:1200px) 
{
    #wrapper{ width:850px; margin-top : 140px; float: right; }
}

@media screen and (min-width:1200px)
{
    #wrapper{ width:1000px; margin-top : 140px; float: right; }
}
@page
{
    size:A4;
}
@media print {
    .myDivToPrint {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }
}

/**Canvas**/
#canvas_area { width: 500px; height: 100%; background: white; float: left;}
#myCanvas {position: absolute; z-index: 0}
#editCanvas,#maskCanvas {position: absolute;}
#editCanvas {z-index: 1;}
#maskCanvas {z-index: 2;}

/**Sticker**/
#stickerUI {position: absolute; margin-top: 450px;width:500px;height: 50px;z-index: 3;}
.eachStickerUI {float:left;width:80px;height: 30px;background: red;color: white;cursor: pointer;margin: 10px;}


/**Preview**/
#preview { width:300px; height: 500px; background: white; float:right; margin-right: 30px; border: solid 1px black;  }
#previewUI {position: absolute;width:300px;height: 500px;z-index: 3;}
#pausePbtn {width: 50px;height: 20px;color:red;background: white; cursor: pointer;}
#previewCursor {margin-top: 30px; width: 100%;height: 400px; cursor:url('../images/cursor_rotate.gif'),url('../images/cursor_rotate.cur'),auto;}
#viewUI {height: 20px;margin-top: 30px;background: white;cursor: pointer;}
.viewBtn {margin: 15px;}
    
/**Tools**/
#tools { float : left; margin-top : 140px; width: 230px;}
#tool_area>div{border:1px solid #6A4A3C;}
#color_picker {clear:both;margin:10px;height: 120px;width: 100%;}
div.colorhex{width: 30px;height: 30px;float: left;}
div#colorSample{width:30px;height: 30px;border:5px solid white;background: red;margin:10px;}
.button {color : black; cursor: pointer;width: 180px;height: 20px;clear:both;background: white;font-size: 12px;text-align: center;margin: 10px;border: 1px solid black;}
#undobtn, #redobtn {}
.stepbutton {float: left;margin:10px;}
#stickers {width:210px; height: 80px;  margin:10px;border: 1px dashed black;clear: both;overflow: auto;}
#stickers>span {background: yellow;margin-left: 2px;float: left;cursor: pointer;}
#prefabs {width:210px; height: 80px; margin:10px;border: 1px dashed black;clear: both;overflow: auto;}

#brushtools {width:210px; margin:10px;}
#penThickness {float:left;width:60px;}
#penThicker, #penThinner {cursor: pointer;}
#tool_picker {width:150px;height: 50px;float:left;}
#tool_picker>img {float:left;}


/**PopUp**/

#imgShare>form {position: absolute; left:50%; top:50%; margin-left: -450px; margin-top: -250px; }
#imgExport{ position: absolute; left:50%; top:50%; margin-left: -223px; margin-top: -315px;}
a{ text-decoration: none; }



